<% content_for(:title, "Blog | Welcome to Hack Blog") %>
<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>

  <% end %>
</ul>
<hr>

<%= link_to "New Blog Post", new_post_path %>
